<a href="https://colab.research.google.com/github/Demi-greaterme/Grade-Prediction-Model/blob/main/Grade_Prediction_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
!pwd

/content

In [23]:
import pandas as pd
my_data = pd.read_csv("/content/Students_Grading_Dataset (1).csv")
my_data.head()

,Student_ID,First_Name,Last_Name,Email,Gender,Age,Department,Attendance (%),Midterm_Score,Final_Score,...,Projects_Score,Total_Score,Grade,Study_Hours_per_Week,Extracurricular_Activities,Internet_Access_at_Home,Parent_Education_Level,Family_Income_Level,Stress_Level (1-10),Sleep_Hours_per_Night
0,S1000,Omar,Williams,student0@university.com,Female,22,Mathematics,97.36,40.61,59.61,...,62.84,83.49,C,10.3,Yes,No,Master's,Medium,1,5.9
1,S1001,Maria,Brown,student1@university.com,Male,18,Business,97.71,57.27,74.00,...,98.23,92.29,F,27.1,No,No,High School,Low,4,4.3
2,S1002,Ahmed,Jones,student2@university.com,Male,24,Engineering,99.52,41.84,63.85,...,91.22,93.55,F,12.4,Yes,No,High School,Low,9,6.1
3,S1003,Omar,Williams,student3@university.com,Female,24,Engineering,90.38,45.65,44.44,...,55.48,51.03,A,25.5,No,Yes,High School,Low,8,4.9
4,S1004,John,Smith,student4@university.com,Female,23,CS,59.41,53.13,61.77,...,87.43,90.91,A,13.3,Yes,No,Master's,Medium,6,4.5

In [24]:
# to see what features have missing values
print(my_data.isnull().sum())

Student_ID                       0
First_Name                       0
Last_Name                        0
Email                            0
Gender                           0
Age                              0
Department                       0
Attendance (%)                   0
Midterm_Score                    0
Final_Score                      0
Assignments_Avg                  0
Quizzes_Avg                      0
Participation_Score              0
Projects_Score                   0
Total_Score                      0
Grade                            0
Study_Hours_per_Week             0
Extracurricular_Activities       0
Internet_Access_at_Home          0
Parent_Education_Level        1025
Family_Income_Level              0
Stress_Level (1-10)              0
Sleep_Hours_per_Night            0
dtype: int64

In [25]:
# dropping irrelevant features
my_data= my_data.drop(['Student_ID', 'First_Name', 'Last_Name', 'Email','Parent_Education_Level', 'Grade'], axis = 1)
my_data= my_data.drop(['Gender'], axis = 1)

In [29]:
print(my_data.columns)

Index(['Age', 'Department', 'Attendance (%)', 'Midterm_Score', 'Final_Score',
       'Assignments_Avg', 'Quizzes_Avg', 'Participation_Score',
       'Projects_Score', 'Total_Score', 'Study_Hours_per_Week',
       'Extracurricular_Activities', 'Internet_Access_at_Home',
       'Family_Income_Level', 'Stress_Level (1-10)', 'Sleep_Hours_per_Night'],
      dtype='object')

In [27]:
print(my_data.dtypes == object)

Age                           False
Department                     True
Attendance (%)                False
Midterm_Score                 False
Final_Score                   False
Assignments_Avg               False
Quizzes_Avg                   False
Participation_Score           False
Projects_Score                False
Total_Score                   False
Study_Hours_per_Week          False
Extracurricular_Activities     True
Internet_Access_at_Home        True
Family_Income_Level            True
Stress_Level (1-10)           False
Sleep_Hours_per_Night         False
dtype: bool

In [28]:
print(my_data.isnull().sum(axis=1))
my_data[my_data.isnull().any(axis=1)]

0       0
1       0
2       0
3       0
4       0
       ..
4995    0
4996    0
4997    0
4998    0
4999    0
Length: 5000, dtype: int64

Empty DataFrame
Columns: [Age, Department, Attendance (%), Midterm_Score, Final_Score, Assignments_Avg, Quizzes_Avg, Participation_Score, Projects_Score, Total_Score, Study_Hours_per_Week, Extracurricular_Activities, Internet_Access_at_Home, Family_Income_Level, Stress_Level (1-10), Sleep_Hours_per_Night]
Index: []

In [31]:
# encoding categorical variables
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

categorical_columns = ['Department', 'Extracurricular_Activities', 'Internet_Access_at_Home', 'Family_Income_Level']

encoder = OneHotEncoder(sparse_output=False, handle_unknown= 'ignore')

encoded_features = encoder.fit_transform(my_data[categorical_columns])

encoded_col_names = encoder.get_feature_names_out(categorical_columns)

encoded_data = pd.DataFrame(encoded_features, columns=encoded_col_names, index = my_data.index)

df_numeric = my_data.drop(columns=categorical_columns)

my_data2 = pd.concat([df_numeric, encoded_data], axis=1)

In [28]:
# some analysis to determine what feature aren't needed
from sklearn.feature_selection import mutual_info_regression

x = my_data2.drop('Total_Score', axis = 1)